* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.white {
  color: #fff;
}

#pongCanvas {
    display: block;
    background-color: #000000;
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

@media (min-width: 560px) {
    #pongCanvas {
        width: 500px;
        height: 500px;
    }
}

h1 { 
  font-family: 'Press Start 2P', cursive;
}

.hover-visible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.hover-visible:hover {
  opacity: 1;
}
.hover-visible a {
  color: white;
  text-decoration: none;
}
.hover-visible a:hover {
  color: white;
}