
@media print {
  @page {
    size: A4;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
  }

  .no-page-break {
    page-break-inside: avoid;
  }
  
  body {
    margin: 0;
    font-size: 10pt;
  }

  .column.is-full {
    width: 100% !important;
  }

  .non-printable {
    display: none !important;
  }

  .container-flex {
    display: flex;
    justify-content: flex-start;
  }
  
  .container-flex p, li {
    margin-right: 10px;
  }
  
  .title {
    margin-bottom: 0 !important;
  }

  p {
    line-height: 1.2em;
  }

  #experience {
    padding-right: 0;
  }
}

.square-image-container {
  position: relative;
  width: 200px;
}

.square-image {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
}

.has-background-custom-grey {
  background-color: #f8f9fa; 
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}